.completed {
  text-decoration: line-through;
  color: rgb(0, 255, 0);
}
.reminderRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.remindersCard {
  margin-top: auto;
}
